
/* @import url("https://fonts.googleapis.com/css?family=Amatic+SC|Exo+2|Pacifico|Roboto"); */

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", cursive;
}
body {
  margin: 0 auto;
}



.filter a {
  padding: 10px 20px;
  display: inline-block;
  color: #003;
  background: #eee;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 9px;

}
.filter a:hover {
  background: rgb(7, 106, 255);
}
.filter {
  padding: 50px;
  text-align: center;
}

#projects {
  background-size: 100%;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  /* border: 1px solid black; */
  height: 730px;
}
#port-head {
  color: #0457ff;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  padding: 2%;
}

.btn {
  border: 0.5px solid black;
  margin: 15px 0;
  height: 2rem;
  width: 7rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Exo 2", san-serif;
  background-color: wheat;
  font-size: 0.8rem;
}
.btn:hover {
  background-color: #fff5e1;
}
#project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3%;
  height: 590px;
  justify-items: center;
}
.project-title {
  margin-top: 85px;
  font-size: 40px;
}
.project-text {
  border-radius: 50%;
  margin-top: 75px;
  font-size: 15px;
  margin-right: 25px;
  margin-left: 25px;
  font-family: "Exo 2", san-serif;
  text-align: justify;
}
.site-container-outer a {
  text-decoration: none;
  color: rgb(69, 165, 31);
}
.site-link {
  color: #b80000;
  margin-top: 5%;
  font-size: 25px;
}
.site-link:hover {
  color: #ff9999;
}

.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container {
  opacity: 0.9;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.front,
.back {
  background-color: rgb(246, 246, 246);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border:2px solid rgb(29, 151, 199);
}



.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

/* Media Re-sizing for mobile */
@media only screen and (max-width: 1020px) {
  #project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin-bottom: 5%;
    height: 540px;
    text-align: center;
  }
  #projects {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    height: 1020px;
  }
}
